.contact-container {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 100vh;
    padding: 2rem; /* Aumentado el padding para más espacio */
    
}

.contact-card {
    max-width: 36rem; /* Aumentado el ancho máximo para más espacio */
    width: 100%;
    padding: 2.5rem; /* Aumentado el padding interno */
    
    
}

.contact-title {
    font-size: 7rem; /* Aumenta el tamaño de la fuente */
    font-weight: 600;
    color: #333333;
    margin-bottom: rem; /* Aumenta el margen inferior para más separación */
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Aumentado el espacio entre elementos */
}

.contact-input,
.contact-textarea {
    width: 100%;
    padding: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 1rem;
    color: #4a5568;
    background-color: transparent;
    border: none; /* Elimina los bordes */
}

.contact-input:focus,
.contact-textarea:focus {
    border-color: #a0aec0;
    box-shadow: 0 0 0 2px rgba(160, 174, 192, 0.3);
}


.contact-button {
    width: 100%;
    background-color: #333333; /* Color de fondo más oscuro */
    color: #ffffff;
    padding: 1rem; /* Aumentado el padding */
    border-radius: 0.75rem; /* Bordes más redondeados */
    font-weight: 600; /* Peso de fuente ligeramente menor */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición más suave */
    font-size: 1.1rem; /* Tamaño de fuente más grande */
}

.contact-button:hover {
    background-color: #555555; /* Color al pasar el ratón */
}